In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [14]:
data = pd.read_csv('News.csv', index_col=0)
data = data.drop(["title", "date"], axis=1)
print(data)

                                                    text subject  class
0      Donald Trump just couldn t wish all Americans ...    News    0.0
1      House Intelligence Committee Chairman Devin Nu...    News    0.0
2      On Friday, it was revealed that former Milwauk...    News    0.0
3      On Christmas day, Donald Trump announced that ...    News    0.0
4      Pope Francis used his annual Christmas Day mes...    News    0.0
...                                                  ...     ...    ...
58714  "The Affordable Care Act, the health care refo...  health    0.0
58715  "President Donald Trump said the latest Republ...  health    0.0
58716  "U.S. Rep. Tom Tiffany, a Republican who won a...  health    0.0
58717  Men in Teesside have the same life expectancy ...  health    0.0
58718  "When it comes to federal health care reform, ...  health    0.0

[58719 rows x 3 columns]

In [15]:
data.isnull().sum()

text       63
subject    63
class      84
dtype: int64

In [21]:
data_cleaned = data.dropna()
data_cleaned.isnull().sum()

text       0
subject    0
class      0
dtype: int64

In [22]:
data_cleaned

                                                    text subject  class
0      Donald Trump just couldn t wish all Americans ...    News    0.0
1      House Intelligence Committee Chairman Devin Nu...    News    0.0
2      On Friday, it was revealed that former Milwauk...    News    0.0
3      On Christmas day, Donald Trump announced that ...    News    0.0
4      Pope Francis used his annual Christmas Day mes...    News    0.0
...                                                  ...     ...    ...
58714  "The Affordable Care Act, the health care refo...  health    0.0
58715  "President Donald Trump said the latest Republ...  health    0.0
58716  "U.S. Rep. Tom Tiffany, a Republican who won a...  health    0.0
58717  Men in Teesside have the same life expectancy ...  health    0.0
58718  "When it comes to federal health care reform, ...  health    0.0

[58635 rows x 3 columns]

In [23]:

column_subject = 'subject'
column_data = data_cleaned[column_subject]
print(column_data)
print()
column_stats = data_cleaned[column_subject].describe()
print(column_stats)
print()
unique_data = data_cleaned[column_subject].unique()

0          News
1          News
2          News
3          News
4          News
          ...
58714    health
58715    health
58716    health
58717    health
58718    health
Name: subject, Length: 58635, dtype: object

count      58635
unique        21
top       health
freq       13736
Name: subject, dtype: object